# GHOSTFOLIO
# This variable needs to be set only if you're self-hosting Ghostfolio.
# If you're accessing from "ghostfol.io" then delete the variable below.
GHOSTFOLIO_BASE_URL="http://192.168.1.1:8080"
GHOSTFOLIO_ACCOUNT_TOKEN="1bb6d07de5eb03cbc954867902ed505884f2f82b61b94ba0526ecb231e7a18e0334b1e569763853896600a59d4c277a9125c48f0f73d423f9f114542bbf1a016"

# TASTYTRADE
TASTYTRADE_USERNAME = "test"
TASTYTRADE_PASSWORD = "test1234@"